In [5]:
import pandas as pd
import numpy as np

# from bokeh.io import output_file
from bokeh.io import output_notebook
from bokeh.plotting import figure, show
output_notebook()

#load in the metadata file from the shared google drive
original_meta_data = pd.read_csv('C:/Users/Caleb/Desktop/Poolla Lab/Data/metadata.csv') #need to change this to match your google drive path, but should always end with .../CPS Project/Raw Data/metadata.csv

original_meta_data.head(10)

,dataid,active_record,building_type,program_579,program_baseline,program_energy_internet_demo,program_lg_appliance,program_verizon,program_ccet_group,program_civita_group,...,solar,solar2,sprinkler1,sumppump1,utilityroom1,venthood1,waterheater1,waterheater2,winecooler1,wellpump1
0,2836,NaN,Single-Family Home 001 (Master),NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2743,NaN,Single-Family Home 001 (Master),NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5323,NaN,Single-Family Home 001 (Master),NaN,yes,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8560,NaN,Single-Family Home 001 (Master),NaN,yes,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3313,NaN,Single-Family Home 001 (Master),NaN,yes,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5052,NaN,Single-Family Home 001 (Master),NaN,yes,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3936,NaN,Single-Family Home 001 (Master),NaN,yes,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1622,NaN,Town Home,NaN,yes,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1114,NaN,Single-Family Home 001 (Master),NaN,yes,yes,NaN,NaN,NaN,NaN,...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5433,NaN,Single-Family Home 001 (Master),NaN,yes,yes,NaN,NaN,CCET - Control,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
 #this function will see if any columns are completely empty and create a new df as its output with those columns removed
 
 def check_all_nan_and_delete(df):
  total_non_nan=np.sum(df.notnull())==0
  new_df=df.loc[:,~total_non_nan]
  if sum(total_non_nan)==0:
    print("No Columns Deleted. All Columns have at least one entry")
    return df
  else:
    deleted_cols=df.loc[:,total_non_nan].columns
    print("column(s) deleted:",deleted_cols)
    return new_df

  


meta_data=check_all_nan_and_delete(original_meta_data)

#lets work with this df from now on even though it is the same as meta_data

No Columns Deleted. All Columns have at least one entry

In [7]:
#lets turn all the boolean columns in the meta_data into proper boolean datatype
def is_yes(series):
  return series=='yes'

just_strings=meta_data.select_dtypes(include=object).apply(is_yes,1)
dont_boolean=just_strings.apply(lambda x: sum(x))
dont_boolean=dont_boolean[dont_boolean==0]

only_booleans=just_strings.drop(columns=dont_boolean.index) 

#now lets integrate our new boolean table into the meta_data

meta_data[only_booleans.columns] = only_booleans
meta_data.head(5)

,dataid,active_record,building_type,program_579,program_baseline,program_energy_internet_demo,program_lg_appliance,program_verizon,program_ccet_group,program_civita_group,...,solar,solar2,sprinkler1,sumppump1,utilityroom1,venthood1,waterheater1,waterheater2,winecooler1,wellpump1
0,2836,False,Single-Family Home 001 (Master),False,False,True,False,False,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1,2743,False,Single-Family Home 001 (Master),False,False,True,False,False,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
2,5323,False,Single-Family Home 001 (Master),False,True,True,False,False,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
3,8560,False,Single-Family Home 001 (Master),False,True,True,False,False,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
4,3313,False,Single-Family Home 001 (Master),False,True,True,False,False,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False

In [8]:
#now lets see how many houses have EV and PV
#first group by state

meta_data.groupby('state')[['dataid']].agg(len).rename(columns={'dataid':'count'})

            count
state
California    115
Colorado       58
Illinois        1
Maryland        2
New York      120
Oklahoma        4
Texas        1387

In [9]:
# Now lets search by state for homes with both EV and PV

EV_PV_index= meta_data['pv'] & meta_data['car1']

EV_PV_homes=meta_data.loc[EV_PV_index,:]

print("Total count of households with PV and an EV by state data:\n")
EV_PV_homes.groupby('state').agg(len).iloc[:,1]

Total count of households with PV and an EV by state data:

state
California     7
Colorado       3
New York       9
Texas         96
Name: active_record, dtype: int64

In [10]:
#now lets grab the household id numbers "dataid" of houses with PV and EV so we can compare with the household energy data we have at different intervals

dataids_PV_EV_homes = list(EV_PV_homes['dataid'])
dataids_PV_EV_homes

[7982,
 3192,
 1800,
 2638,
 1801,
 6941,
 624,
 9935,
 1782,
 4135,
 6871,
 364,
 4505,
 7863,
 8669,
 3367,
 1697,
 2965,
 8577,
 8197,
 4957,
 3036,
 3044,
 1392,
 5786,
 9647,
 4830,
 6348,
 4147,
 3126,
 7719,
 8174,
 547,
 6691,
 540,
 6558,
 3368,
 8046,
 1629,
 9776,
 8013,
 43,
 3649,
 10202,
 8645,
 7875,
 5109,
 26,
 3829,
 5357,
 6121,
 1970,
 4315,
 4352,
 1222,
 4090,
 3000,
 8156,
 7850,
 9477,
 4373,
 3723,
 2470,
 1169,
 9937,
 9934,
 9932,
 5097,
 7989,
 6178,
 5679,
 6139,
 27,
 1714,
 8277,
 3517,
 11478,
 8142,
 5058,
 11896,
 2365,
 5929,
 9729,
 8236,
 2153,
 7690,
 7940,
 7937,
 7024,
 1517,
 6990,
 6836,
 5403,
 4699,
 4767,
 5715,
 4336,
 3967,
 3482,
 2750,
 2814,
 2335,
 1354,
 379,
 2018,
 1642,
 5450,
 1185,
 661,
 5749,
 6248,
 545,
 8857,
 370,
 114]

PART 2: Find our PV & EV homes with the energy use datasheets

In [11]:
#load in our data sets

original_TX_15min = pd.read_csv("C:/Users/Caleb/Desktop/Poolla Lab/Data/15minute_data_austin.csv.gz",compression='gzip')
original_CA_15min = pd.read_csv("C:/Users/Caleb/Desktop/Poolla Lab/Data/15minute_data_california.csv.gz",compression='gzip')
original_NY_15min = pd.read_csv("C:/Users/Caleb/Desktop/Poolla Lab/Data/15minute_data_newyork.csv.gz",compression='gzip')

#this is all the 15 min interval data available on PECAN STREET as of 3/26/2020

In [12]:
#add a state column to all thagg(ese and merge into one table to view
def give_state_col(df,state_str):
  df["state"]=state_str
  return df


edited_15min_CA=give_state_col(original_CA_15min,"CA")
edited_15min_NY=give_state_col(original_NY_15min,"NY")
edited_15min_TX=give_state_col(original_TX_15min,"TX")


#lets join all table into a master table for 15 min intervals
combined_15min=edited_15min_CA.append(edited_15min_NY,ignore_index=True)
combined_15min=combined_15min.append(edited_15min_TX,ignore_index=True)

In [13]:
#lets see how many homes are in this combined dataset and how many points at each home were taken total
home_overview=combined_15min.groupby("dataid").agg(len)
home_overview[["local_15min"]].rename(columns={"local_15min":"rows_data_available"})

        rows_data_available
dataid
27                    17663
142                   17664
203                   35036
387                   17664
558                   17664
...                     ...
9278                  35035
9612                  35036
9775                  35132
9836                  34364
9922                  35036

[73 rows x 1 columns]

In [14]:
#lets make a method to take in a Pecan St energy usage data file and give us only the data for homes with an EV and PV charger in a new df


def get_pv_ev_homes(raw_df,dataids_list):
  new_df=raw_df.loc[raw_df['dataid'].isin(dataids_list)]
  new_df

  return new_df

In [15]:
#now lets use the method above to confirm that the list of EV and PV homes from the meta data matches the combined 15 min interval dataframe


#get a df of EV and PV homes from the combined dataset using list created from meta data
combined_EV_PV=get_pv_ev_homes(combined_15min,list(EV_PV_homes["dataid"]))

#create a subset of this data that actually has PV and EV data
sorting_df=combined_EV_PV.groupby("dataid").agg(sum)
sorting_df= sorting_df.loc[(sorting_df["car1"]!=0) & (sorting_df["solar"]!=0),:]
final_PV_EV_dataids=list(sorting_df[["car1","solar"]].index)

#do the same as above but using the combined 15 min interval dataset and not going off of what the meta data says should have EV and PV
sorting_df2=combined_15min.groupby("dataid").agg(sum)
sorting_df2= sorting_df2.loc[(sorting_df2["car1"]!=0) & (sorting_df2["solar"]!=0),:]
final_PV_EV_dataids2=list(sorting_df2[["car1","solar"]].index)


#compare the two approaches above
final_PV_EV_dataids==final_PV_EV_dataids2 #false
[final_PV_EV_dataids,final_PV_EV_dataids2]


#as of now, it looks like the metadata is not correct for CA and NY because there are homes with 0 net pv gen and 0 net car1 gen in both states (TX is fine).
#also there is 1 home that we discover fits our EV and PV criteria that is not shown in the metadata
#no CA houses end up meeting our criteria

[[27, 661, 1222, 1642, 2335, 3000, 4373, 4767, 5679, 6139, 7719, 8156],
 [27, 661, 1222, 1642, 2335, 3000, 4373, 4767, 5679, 6139, 7719, 8156, 9278]]

In [16]:
all_states_15min_EV_PV_homes_only=get_pv_ev_homes(combined_15min,final_PV_EV_dataids2)
print("Homes with EV and PV 15min interval data available: \n")
all_states_15min_EV_PV_homes_only.groupby(["state","dataid"]).agg(len)[["air1"]].rename(columns={"air1":"rows_data_available"})

Homes with EV and PV 15min interval data available:

              rows_data_available
state dataid
NY    27                  17663.0
      1222                17664.0
      3000                17664.0
      5679                17664.0
TX    661                 35032.0
      1642                34648.0
      2335                34468.0
      4373                34532.0
      4767                34959.0
      6139                35036.0
      7719                34880.0
      8156                34984.0
      9278                35035.0

Now we have all 15 minute interval data from all 3 states together in one dataframe (combined_15min) and a subset of that data with only households that have both EV usage and PV generation (all_states_15min_EV_PV_homes_only)

In [17]:
# #write our new data to csv's
# all_states_15min_EV_PV_homes_only.to_csv("/content/drive/My Drive/Poolla Lab/CPS Project/Cleaned_Data/15min_EV_PV_homes_only.csv")
# combined_15min.to_csv("/content/drive/My Drive/Poolla Lab/CPS Project/Cleaned_Data/15min_all_homes_data.csv")

In [18]:
print(combined_15min.loc[:,"local_15min"].max())
print(combined_15min.loc[:,"local_15min"].min())

2019-10-31 23:45:00-05
2014-01-01 00:00:00-06